/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nerko One', cursive, sans-serif;
    text-shadow: 2px 2px 4px #000;
    background: lightblue;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

/* HEADER */

header h1 {
    text-align: center;
    margin: 20px auto;
    color: white;
    
    font-size: 80px;
}

/* MAIN CONTENT */